@font-face {
  font-family: "iconfont"; /* Project id 4295593 */
  src: url('iconfont.woff2?t=1698467468171') format('woff2'),
       url('iconfont.woff?t=1698467468171') format('woff'),
       url('iconfont.ttf?t=1698467468171') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e744";
}

.icon-zhexiantu:before {
  content: "\e62d";
}

.icon-zhuzhuangtu:before {
  content: "\e630";
}

.icon-icon:before {
  content: "\e808";
}

.icon-wenduji:before {
  content: "\e61a";
}

.icon-bingtu:before {
  content: "\e62b";
}

.icon-drop-on-demand:before {
  content: "\e7cc";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-wenjianjiatianjia:before {
  content: "\e616";
}

.icon-wenjianjiashanchu:before {
  content: "\e618";
}

.icon-tubiao-zhuzhuangtu:before {
  content: "\eb96";
}

.icon-biaodanzujian-biaoge:before {
  content: "\ec15";
}

.icon-shujuyuan:before {
  content: "\e619";
}

.icon-24gl-fileText:before {
  content: "\eabe";
}

.icon-wenjianjia:before {
  content: "\e629";
}

.icon-peizhishujuyuan:before {
  content: "\e672";
}

.icon-shitu1:before {
  content: "\e69e";
}

.icon-tuichu1:before {
  content: "\e617";
}

.icon-tuichu:before {
  content: "\e6b2";
}

